* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::before{
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  transition: 0.3s;
}
.sliderContainer {
  width: 70vw;
  height: 70vh;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6), 0 3px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.slide {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -15vh;
  left: -15vw;
  border: 2px solid orange;
  font-size: 3.2rem;
  color: white;
  transform: translateY(-50%);
  padding: 20px;
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.angle {
  position: fixed;
  padding: 20px;
  font-size: 2rem;
  border: 2px solid orange;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.leftBtn {
  position: absolute;
  left: calc(15vw - 321px);
}
.rightBtn {
  filter: brightness(1);

  position: absolute;
  right: calc(15vw - 259px);
}
.slide.active {
  opacity: 1;
}

@media (max-width: 912px) {
  .leftBtn {
    left: calc(15vw - 223px);
  }
  .rightBtn {
    right: calc(15vw - 141px);
  }
  .angle {
    padding: 19px;
    font-size: 4rem;
  }
}

@media (max-width: 412px) {
  .leftBtn {
    left: calc(15vw - 125px);
  }
  .rightBtn {
    right: calc(15vw - 60px);
  }
  .angle {
    padding: 18px;
    font-size: 1.5rem;
  }
}
